<mat-card appearance="outlined" *ngIf="article">
  <mat-card-actions>
    <mat-chip-set>
      <mat-chip *ngIf="article.readyForReview">Ready for review</mat-chip>
      <mat-chip *ngIf="article.isAccepted">Accepted</mat-chip>
      <mat-chip *ngIf="article.isAccepted === false">Rejected</mat-chip>
    </mat-chip-set>
    <div>
      <button
        mat-mini-fab
        *ngIf="user?._id === article.author && !article.readyForReview"
        (click)="editArticle()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        *ngIf="user?._id === article.author"
        (click)="deleteArticle()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>By: {{ authorName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ article.content }}
  </mat-card-content>
</mat-card>
<app-reviewer-list
  *ngIf="article"
  [article]="article"
  [reviewers]="article.reviewers"
  [userRole]="user?.role"
></app-reviewer-list>
<app-list
  *ngIf="article"
  [articleId]="article._id"
  [userRole]="user?.role"
></app-list>
<div *ngIf="!article" class="notFound">Not found</div>
<div class="end"></div>
