@use "@angular/material" as mat;

html {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    )
  );
}

td {
  overflow: hidden;
  max-width: 200px;
  max-height: 52px;
}

mat-row {
  overflow: hidden;
  max-height: 52px;
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.auth-nav {
  text-align: center;
  margin-top: 24px;
}

mat-card {
  width: 500px;
  margin: auto;
  align-items: center;
  display: flex;

  mat-card-header {
    margin-top: 24px;
  }

  mat-card-content {
    width: 300px;
    margin: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  mat-form-field {
    width: 100%;
    padding-bottom: 12px;
  }

  button {
    width: max-content;
    margin: auto;
  }
}

.end {
  height: 100px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
