@use "@angular/material" as mat;

html {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    )
  );
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.auth-nav {
  text-align: center;
  margin-top: 24px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
