<div class="container">
  @if (data.title) {
    <div mat-dialog-title>{{ data.title }}</div>
  }
  @if (data.text) {
    <mat-dialog-content [innerHtml]="data.text">
    </mat-dialog-content>
  }
  <div mat-dialog-actions>
    @if (data.button) {
      <button mat-raised-button (click)="onCancel()">
        {{ data.button }}
      </button>
    }
    @if (data.submitButton) {
      <button mat-flat-button (click)="onSubmit()">
        {{ data.submitButton }}
      </button>
    }
  </div>
</div>
