<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Change password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Current password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          required
          formControlName="oldPassword"
          minlength="8"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide current password'"
          [attr.aria-pressed]="hide"
          tabindex="-1"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="passwordForm.controls['oldPassword'].errors?.['required']"
          >Please enter your password!</mat-error
        >
        <mat-error
          *ngIf="passwordForm.controls['oldPassword'].errors?.['minlength']"
          >Must be at least 8 characters long!</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input
          matInput
          [type]="hide2 ? 'password' : 'text'"
          required
          formControlName="newPassword"
          minlength="8"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide new password'"
          [attr.aria-pressed]="hide2"
          tabindex="-1"
        >
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="passwordForm.controls['newPassword'].errors?.['required']"
          >Please enter a password!</mat-error
        >
        <mat-error
          *ngIf="passwordForm.controls['newPassword'].errors?.['minlength']"
          >Must be at least 8 characters long!</mat-error
        >
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="!passwordForm.valid">
        Save
      </button>
    </form>
  </mat-card-content>
</mat-card>
