mat-card {
  width: 800px;

  mat-card-content {
    width: 700px;
  }

  mat-card-header {
    margin-top: 60px !important;
  }
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: end;
  column-gap: 16px;

  button {
    margin: 0;
  }
}
