@if (isAuthor) {
  <div class="new">
    <button mat-mini-fab (click)="newArticle()"><mat-icon>add</mat-icon></button>
  </div>
}
@if (articles.length > 0) {
  <table mat-table [dataSource]="articles">
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="readyForReview">
      <th mat-header-cell *matHeaderCellDef width="140px">Ready for review</th>
      <td mat-cell *matCellDef="let element">{{ element.readyForReview }}</td>
    </ng-container>
    <ng-container matColumnDef="reviewers">
      <th mat-header-cell *matHeaderCellDef width="100px">Reviewers</th>
      <td mat-cell *matCellDef="let element">{{ element.reviewers }}</td>
    </ng-container>
    <ng-container matColumnDef="isAccepted">
      <th mat-header-cell *matHeaderCellDef width="100px">Accepted</th>
      <td mat-cell *matCellDef="let element">{{ element.isAccepted }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToArticle(row)"
    ></tr>
  </table>
}
@if (articles.length === 0) {
  <div>No articles yet</div>
}
